<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript &amp; jQuery - Chapter 7: Introducing jQuery - Basic Example</title>
    <link rel="stylesheet" href="css/custom.css" />
  </head>
  <body>
    <div id="page">
      <h1 id="header">List</h1>
      <h2>Heading 2</h2>
      <ul>
        <li id="one" class="hot"><em>emphasized</em> item</li>
        <li id="two" class="hot">item 2</li>
        <li id="three" class="hot">item 3</li>
        <li id="four">item 4</li>
      </ul>
    </div>
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>